.container() {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media @desktop-widths {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.no-list-style {
  padding: 0;
  margin: 0;

  list-style: none;
}

.placeholder {
  &::-webkit-input-placeholder {
    color: @grey-light;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Open Sans', 'Arial', sans-serif;
  }
  &::-moz-placeholder {
    color: @grey-light;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Open Sans', 'Arial', sans-serif;
  }
  &::-ms-input-placeholder {
    color: @grey-light;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Open Sans', 'Arial', sans-serif;
  }
  @media @tablet-widths {
    &::-webkit-input-placeholder {
      padding-left: 20px;

      color: @grey-light;
      font-weight: 400;
      font-size: 19px;
      font-family: 'Open Sans', 'Arial', sans-serif;
    }
    &::-moz-placeholder {
      padding-left: 20px;

      color: @grey-light;
      font-weight: 400;
      font-size: 19px;
      font-family: 'Open Sans', 'Arial', sans-serif;
    }
    &::-ms-input-placeholder {
      padding-left: 20px;

      color: @grey-light;
      font-weight: 400;
      font-size: 19px;
      font-family: 'Open Sans', 'Arial', sans-serif;
    }
  }
}
