@base-color--lighten: #63d1bb;
@base-color--darken: #56c3b2;
@base-color--dark: #3bb09d;

// Grey colors
@grey: #444444;
@grey--light: #e5e5e5;
@grey--lighten: #f1f1f1;


@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

