.btn {
  display: block;
  width: auto;
  padding: 16px;

  color: @grey;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;

  border: 2px solid @grey;

  &:hover {
    color: #fff;
    background-color: @grey;
  }
  &:focus {
    color: @grey-darkern;
    background-color: @grey;
  }
}

@media @tablet-widths {
  .btn {
    padding: 14px;

    font-size: 17px;
    line-height: 20px;
  }
}
