.slider__toggles {
  display: flex;
  padding-top: 29px;
  padding-bottom: 38px;
  a:hover .icon-left-arrow,
  a:hover .icon-right-arrow {
    fill: @logo-hover;
  }
  a:focus .icon-left-arrow,
  a:focus .icon-right-arrow {
    fill: @logo-focus;
  }
}

.slider__toggle {
  display: block;
  width: 130px;

  font-size: 0;
  .icon-left-arrow,
  .icon-right-arrow {
    width: 55px;
    height: 27px;
  }
  &--left,
  &--right {
    border: 2px solid #ececec;
    padding-top: 10px;
    padding-left: 35px;
  }
  &--left {
    border-right: none;
  }
}

@media @tablet-widths {
  .slider__toggle {
    width: 35px;

    border: none;
    &--left {
      padding-right: 15px;
      padding-top: 17px;
    }
    &--right {
      padding-right: 39px;
      padding-top: 17px;
    }
  }
}
