.slider__toggles {
  display: flex;
  padding-top: 29px;
  padding-bottom: 38px;
}

.slider__toggle {
  display: block;
  width: 130px;
  padding: 12px;

  font-size: 0;
  border: 2px solid #ececec;

  &--left {
    background-image: url('../img/icon-left-arrow.svg');
    border-right: 0;
  }
  &--right {
    background-image: url('../img/icon-right-arrow.svg');
  }

  background-repeat: no-repeat;
  background-position: center;
}

@media @tablet-widths {
  .slider__toggle {
    width: 35px;

    border: none;
    &--left {
      padding-right: 40px;
    }
    &--right {
      padding-right: 39px;
    }
  }
}
