.about-us__wrapper {
  width: 260px;
  padding: 0 30px;
}

.about-us__description {
  padding-top: 40px;
}

.about-us__email-description,
.about-us__address-description {
  padding-right: 25px;
}

.about-us__description-item {
  display: flex;
  padding-bottom: 40px;
}

.about-us__email {
  border-bottom: 1px solid @base-color--lighten;
}

.about-us__btn {
  margin: 0 30px;
}
