.about-us__wrapper {
  .container();
}

.about-us__email-description,
.about-us__address-description {
  padding-right: 25px;
}

.about-us__description-item {
  display: flex;
  padding-bottom: 40px;

  line-height: 30px;
}

.about-us__email {
  border-bottom: 1px solid @base-color--lighten;
}

.about-us__map {
  span {
    display: block;
    padding: 30px 0;

    text-align: center;
  }
}

.about-us__btn {
  width: 225px;
  margin: 0 auto;
}

@media @tablet-widths {
  .about-us__description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-us__description-item {
    width: 50%;

    font-size: 17px;
  }
}
