.features {
  width: 260px;
  padding: 0 30px;
}

.features__list {
  padding-top: 30px;
  padding-left: 0;
  list-style: none;

}

.features__item {
  padding-top: 55px;
  padding-bottom: 30px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &--eco {
    background-image: url(../img/icon-feature-1.svg);
  }
  &--style {
    background-image: url(../img/icon-feature-2.svg);
  }
  &--likes {
    background-image: url(../img/icon-feature-3.svg);
  }
  &--handmade {
    background-image: url(../img/icon-feature-4.svg);
  }
  &--support {
    background-image: url(../img/icon-feature-5.svg);
  }
  &--packed {
    background-image: url(../img/icon-feature-6.svg);
  }

  background-repeat: no-repeat;
  background-position: top left;
}
