.features {
  .container();
  margin-bottom: 32px;
  h2 {
    padding-top: 0;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  .no-list-style();
}

.features__item {
  position: relative;
  padding-top: 86px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
.features__icon-feature-1 {
  width: 35px;
  height: 39px;
}
.features__icon-feature-2 {
  width: 38px;
  height: 38px;
}
.features__icon-feature-3 {
  width: 45px;
  height: 30px;
}
.features__icon-feature-4 {
  width: 55px;
  height: 29px;
}
.features__icon-feature-5 {
  width: 35px;
  height: 28px;
}
.features__icon-feature-6 {
  width: 37px;
  height: 35px;
}

.features__item [class^="features__icon-feature-"] {
    position: absolute;
    top: 29px;
    left: 2px;

    fill: @base-color-lighten;
  }

@media @tablet-widths {
  .features {
    h2 {
      padding-top: 33px;
    }
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 19px;
  }
  .features__item {
    width: 250px;
    padding-right: 84px;
    padding-top: 82px;
    padding-bottom: 29px;

    font-size: 20px;
    line-height: 22px;
    background-position: 3% 23%;
    &--eco {
      order: 1;
    }
    &--style {
      order: 3;
    }
    &--likes {
      order: 5;
    }
    &--handmade {
      order: 2;
    }
    &--support {
      order: 4;
    }
    &--packed {
      order: 6;
    }

  }
}

@media @desktop-widths {
  .features {
    margin-bottom: 41px;
  }
  .features__wrapper {
    padding-left: 175px;
  }
  .features__list {
    justify-content: flex-start;
  }
  .features__item {
    padding-right: 102px;
  }
}
