.form__item-wrapper {
  .container();
  margin-bottom: 18px;
}

.form__item {
  margin: 0;
  padding: 0;

  border: none;
}

.form__main-title {
  padding: 69px 0;
  padding-bottom: 76px;
  margin: 0;

  text-align: center;

  border-top: 1px solid @brown-light;
  background-color: @grey--lighten;
}

.form__description p {
  padding: 21px 30px;
  padding-bottom: 25px;
  font-size: 13px;
}

.form__title {
  position: relative;

  color: @base-color--lighten;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 61px;
    width: 199px;
    height: 1px;

    background-color: @base-color--lighten;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
  &--buttons {
    padding-top: 35px;
    padding-bottom: 3px;
  }
  &--surname {
    padding-top: 30px;
  }
  &--phone {
    padding-top: 13px;
  }
  &--email {
    padding-top: 14px;
  }
}

.form__label {
  position: absolute;
  top: 9px;
  left: 0;

  color: @grey--light;
  font-weight: 400;
}

.form__list-item {
  position: relative;
  padding-bottom: 23px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  input {
    width: 100%;
  }
  &--padding-left {
    padding-left: 62px;
  }
  &--padding-left input {
    display: none;
  }
  &--padding-bottom {
    padding-bottom: 44px;
  }
  &--padding-bottom:last-child {
    padding-bottom: 17px;
  }
  &--input-underline:last-child {
    padding-bottom: 14px;
  }
  &--input-underline input {
    display: block;
    height: 49px;

    border: 0;
    border-bottom: 2px solid #000;
  }
  &--input-height input {
    height: 43px;
  }
  .placeholder();
}

.form__list-input {
  &--phone {
    background-image: url('../../img/icon-phone.svg');
  }
  &--email {
    background-image: url('../../img/icon-mail.svg');
  }
  background-repeat: no-repeat;
  background-position: 96% 5px;
}

.form__item textarea {
  width: 100%;
  height: 135px;
  margin-top: 25px;

  border: 2px solid #000;
  resize: none;
// not working placeholder
  .placeholder();
}

.form__textarea-label {
  font-size: 0;
}

.form__comment {
  color: @grey;
  font-size: 14px;
  line-height: 16px;
}

.form__footer {
  margin-top: -23px;
  margin-bottom: 55px;
}

.form__btn {
  width: 100%;
  margin-top: 30px;
}

@media @tablet-widths {
  .form__description {
    position: relative;
    margin-top: -42px;
    p {
      padding-top: 78px;
      padding-right: 60px;
      padding-left: 50px;

      font-size: 17px;
      line-height: 30px;
    }
  }
  .form__main-title {
    padding-top: 92px;

    font-size: 43px;
    line-height: 50px;
  }
  .form__item {
    padding: 50px;
    &:nth-child(odd) {
      background-color: @grey--lighten;
    }
    input,
    textarea {
      flex-grow: 1;
    }
  }
  .form__item-wrapper {
    display: flex;
  }
  .form__list,
  .form__textarea {
    margin-left: 167px;
  }
  .form__title {
    &::after {
      display: none;
    }
  }
  .form__list-item {
    font-size: 19px;
    &--inline {
      display: flex;
    }
    &--inline label {
      align-self: center;
      padding-right: 25px;
    }
  }
  .form__list {
    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
    &--buttons {
      padding-top: 0;
      padding-bottom: 0;
    }
    &--surname {
      padding-top: 30px;
    }
    &--phone {
      padding-top: 13px;
    }
    &--email {
      padding-top: 14px;
    }
    li {
      flex-basis: 30%;
    }
  }
  .form__footer {
    display: flex;
    justify-content: space-between;
  }
  .form__comment {
    order: 1;
    align-self: flex-end;
  }
  .form__btn {
    width: 228px;
  }
}

@media @desktop-widths {
  .form__main-title {
  padding-top: 100px;

  font-size: 53px;
  line-height: 50px;
  }
  .form__description p {
    padding-left: 175px;
  }
}
