.form {
  input {
    outline: none;
  }
}
.form__item-wrapper {
  .container();
  margin-bottom: 18px;
}

.form__main-title {
  padding: 69px 0;
  padding-bottom: 76px;
  margin: 0;

  text-align: center;

  border-top: 1px solid @brown-light;
  background-color: @grey-lighten;
}

.form__description {
  p {
    padding: 23px 30px;
    padding-bottom: 25px;
    font-size: 13px;
  }
}

.form__title {
  position: relative;

  color: @base-color-lighten;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 61px;
    width: 199px;
    height: 1px;

    background-color: @base-color-lighten;
  }
}

.form__item {
  margin: 0;
  padding: 0;

  border: none;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
  label {
    display: block;

    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
  }
  &--radio {
    padding-top: 17px;
    padding-bottom: 16px;
    input {
      display: none;
    }
    label {
      position: relative;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 85px;
    }
  }
  &--checkbox {
    padding-top: 21px;
    padding-bottom: 14px;
    input {
      display: none;
      box-shadow: none;
    }
    label {
      position: relative;
      padding-top: 15px;
      padding-bottom: 28px;
      padding-left: 63px;
    }
  }
  &--labeled {
    padding-top: 30px;
    li {
      padding-bottom: 23px;
    }
    input {
      width: 100%;
      padding-top: 16px;
      padding-bottom: 15px;

      font-size: 17px;
      line-height: 18px;

      border: none;
      border-bottom: 2px solid #000;
      .placeholder();
    }
    input:hover,
    input:focus {
      border-color: @base-color-lighten;
    }
  }
  &--unlabeled {
    padding-top: 20px;
    .form__list-item {
      position: relative;
    }
    label {
      font-size: 0;
    }
    input {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;


      border: none;
      border-bottom: 2px solid #000;
      .placeholder();
    }
    input:hover,
    input:focus {
      border-color: @base-color-lighten;
    }
  }
}

.form__list--checkox li:last-child label {
  padding-bottom: 10px;
}
.form__list--labeled li:last-child label {
  padding-bottom: 13px;
}

.form__list-item {
  position: relative;
  .icon-phone {
    width: 27px;
    height: 27px;
  }
  .icon-mail {
    width: 44px;
    height: 30px;
    right: 0;
  }
  .icon-phone,
  .icon-mail {
    position: absolute;
    top: -3px;
    right: 5px;

    fill: @icon-base;
  }
  .icon-phone:hover,
  .icon-mail:hover {
    fill: @base-color-lighten;
  }
}

.form__textarea {
  margin-bottom: -22px;
  padding-bottom: 20px;
  .container();
  textarea {
    width: 230px;
    height: 114px;
    margin-top: 17px;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 10px;
    padding-bottom: 10px;

    border: 2px solid #000;

    font-size: 17px;
    line-height: 18px;
    font-family: 'Open Sans', 'Arial', sans-serif;

    resize: none;
    .placeholder();
  }
  textarea:hover,
  textarea:focus {
    border-color: @base-color-lighten;
  }
}

.form__textarea-label {
  font-size: 0;
}

.form__comment {
  display: block;

  font-size: 14px;
  line-height: 16px;
}

.form__btn {
  width: 100%;
  margin-top: 31px;
}

.form__footer {
  .container();
  margin-bottom: 55px;
}

.form__list input[type="radio"] + label::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  top: 7px;
  left: 0;

  border: 2px solid @grey;
  border-radius: 50%;
}

.form__list input[type="radio"]:checked + label::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 19px;
  left: 12px;

  border-radius: 50%;
  background-color: @base-color-lighten;
}

.form__list input[type="radio"] + label:hover::before {
  border-color: @base-color-lighten;;
}

.form__list input[type="radio"]:active + label::before {
  border-color: @grey-light;
}

.form__list input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  top: 3px;
  left: 0;

  border: 2px solid @grey;
}

.form__list input[type="checkbox"]:checked + label::after {
  content: url('../img/icon-tick.svg');
  position: absolute;
  width: 33px;
  height: 26px;
  top: 10px;
  left: 3px;
}

.form__list input[type="checkbox"] + label:hover::before {
  border-color: @base-color-lighten;;
}

.form__list input[type="checkbox"]:active + label::before {
  border-color: @grey-light;
}


@media @tablet-widths {
  .form__main-title {
    padding-top: 92px;
    padding-bottom: 64px;

    font-size: 43px;
    line-height: 50px;
  }
  .form__item-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .form__title {
    flex-basis: 167px;
    padding-top: 66px;
    &--email {
      padding-top: 18px;
    }
  }
  .form__description {
    position: relative;
    margin-top: -42px;
    p {
      padding: 91px 50px;
      padding-bottom: 8px;

      font-size: 17px;
      line-height: 30px;
    }
  }
  .form__title::after {
    display: none;
  }
  .form__item {
    &:nth-child(2n) {
      background-color: @grey-lighten;
    }
  }
  .form__list {
    flex-basis: 501px;
    &--radio {
      padding-top: 34px;
      padding-bottom: 42px;
    }
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      padding-bottom: 46px;
      li {
        flex-basis: 50%;
      }
      label {
        position: relative;
        padding-top: 34px;
        padding-bottom: 24px;
        padding-left: 80px;
      }
    }
    &--labeled {
      padding-top: 35px;
      padding-bottom: 38px;
      .form__list-item {
        display: flex;
        align-items: center;
      }
      li {
        padding-bottom: 10px;
      }
      input {
        width: 100%;
        padding-top: 27px;
        padding-bottom: 15px;
        padding-left: 18px;

        font-size: 19px;
      }
      .placeholder();
    }
    &--unlabeled {
      padding-top: 50px;
      padding-bottom: 0;
      input {
        padding-top: 22px;
        padding-bottom: 10px;
      }
    }
    &--email {
      padding-top: 0px;
      padding-bottom: 30px;
    }
    .icon-mail {
      top: 12px;
      right: 15px;
    }
    .icon-phone {
      top: 7px;
      right: 23px;
    }
  }
  .form__list--checkox li:nth-child(2n) label {
    padding-left: 92px;
  }
  .form__textarea {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    textarea {
      width: 471px;
      margin-top: 49px;
      margin-bottom: 10px;
      padding-top: 14px;

      font-size: 19px;
      font-weight: 400;
    }
  }
  .form__footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 62px;
    margin-bottom: -10px;
  }
  .form__btn {
    width: auto;
    align-self: center;
    margin: 0;

    padding-right: 31px;
    padding-left: 29px;
  }
  .form__comment {
    align-self: center;
    order: 1;

    font-size: 17px;
    line-height: 30px;
  }
  .form__list input[type="radio"] + label::before {
    width: 50px;
    height: 50px;
    top: 14px;
  }
  .form__list input[type="radio"]:checked + label::after {
    width: 20px;
    height: 20px;
    top: 31px;
    left: 17px;
  }
  .form__list input[type="checkbox"] + label::before {
    width: 51px;
    height: 48px;
    top: 19px;
  }
  .form__list input[type="checkbox"]:checked + label::after {
    top: 34px;
    left: 13px;
  }
}

@media @desktop-widths {
  .form__main-title {
    padding-top: 92px;

    font-size: 53px;
    line-height: 57px;
  }
  .form__title {
    flex-basis: 111px;
    padding-top: 66px;
    padding-left: 65px;
    &--email {
      padding-top: 24px;
    }
  }
  .form__description {
    p {
      width: 700px;
      margin: 0 auto;
      padding-top: 161px;
      padding-bottom: 8px;
    }
  }
  .form__list {
    flex-basis: 700px;
    padding-left: 0;
    &--radio {
      padding-top: 34px;
      padding-bottom: 42px;
    }
    &--checkbox {
      flex-basis: 862px;
      padding-top: 29px;
      padding-bottom: 45px;
      li {
        flex-basis: 30%;
      }
      label {
        padding-left: 93px;
      }
    }
    &--labeled {
      padding-bottom: 32px;
      li {
        padding-bottom: 10px;
      }
      label {
        padding-left: 3px;
      }
    }
    &--unlabeled {
      input {
        padding-left: 0;
      }
    }
  }
  .form__list--labeled li:last-child label {
    padding-bottom: 24px;
  }
  .form__textarea {
    textarea {
      width: 671px;
      margin-bottom: 8px;
      margin-top: 54px;
    }
  }
  .form__footer {
    width: 700px;
    margin: 0 auto;
  }
}
