.form__item-wrapper {
  .container();
  margin-bottom: 18px;
}

.form__main-title {
  padding: 69px 0;
  padding-bottom: 76px;
  margin: 0;

  text-align: center;

  border-top: 1px solid @brown-light;
  background-color: @grey--lighten;
}

.form__description p {
  padding: 21px 30px;
  padding-bottom: 25px;
  font-size: 13px;
}

.form__title {
  position: relative;

  color: @base-color--lighten;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 61px;
    width: 199px;
    height: 1px;

    background-color: @base-color--lighten;
  }
}

.form__item {
  margin: 0;
  padding: 0;

  border: none;
  input {
    display: none;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
  &--radio {
    position: relative;
    padding-top: 33px;
    li {
      padding-bottom: 25px;
    }
    label {
      padding-left: 63px;
    }
  }
}

.form__list input[type="radio"]::not(cheked)+label::before {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -11px;
  left: -1px;

  border-radius: 50%;
  border: 1px solid #000;
}

.form__label {
  position: absolute;
  top: 9px;
  left: 0;

  color: @grey--light;
  font-weight: 400;
}

