.goods {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 320px;
    height: 8px;
    bottom: -41px;
    left: 0;

    background-image: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-size: 320px 8px;
  }
}
.goods__wrapper {
  .container();
  margin-bottom: 69px;
}

.goods__best-seller {
  color: @base-color-lighten;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__price {
  margin-bottom: 25px;
  margin-top: 18px;

  color: @grey;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}

.goods__features {
  p {
    padding-top: 22px;
    padding-bottom: 15px;
  }
}

.goods__table {
  width: 100%;
  padding-bottom: 28px;
  margin-bottom: 28px;

  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #ececec;
  }
  td {
    padding: 8px 0;
    padding-right: 29px;
  }
}


@media @tablet-widths {
  .goods  {
    &::after {
      width: 768px;
      height: 17px;
      bottom: -2px;
      left: 0;

      background-size: cover;
    }
  }
  .goods__wrapper {
    position: relative;
    padding-bottom: 74px;
  }
  .goods__features {
    width: 290px;
    margin-right: 45px;
    p {
      padding-top: 49px;
      padding-bottom: 34px;

      font-size: 17px;
      line-height: 30px;
    }
  }
  .goods__description {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    h2 {
      padding-top: 0;
    }
  }
  .goods__best-seller {
    width: 75px;
    height: 40px;
    align-self: center;
    flex-shrink: 1;
    padding-right: 24px;
    padding-top: 19px;

    line-height: 17px;
    text-align: center;
  }
  .goods__price {
    font-size: 20px;
  }
  .goods__thumb {
    position: absolute;
    top: 163px;
    right: 51px;
  }
  .goods__table {
    margin-bottom: 55px;
    width: auto;
    td {
      padding-right: 28px;
    }
  }
  .goods__table-item {
    td:last-child {
      padding-right: 60px;
    }
  }
  .goods__price {
    margin-bottom: 34px;
  }
}

@media @desktop-widths {
  .goods {
    padding-bottom: 112px;
    &::after {
      display: none;
    }
  }
  .goods__wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1050px;
      height: 21px;
      bottom: -89px;
      left: 58px;

      background-image: url('../img/bg-zigzag-line.svg');
      background-repeat: repeat-x;
      background-size: cover;
    }
  }
  .goods__features {
    padding-left: 177px;
    p {
      padding-top: 49px;
      padding-bottom: 30px;
    }
  }
  .goods__description {
    justify-content: flex-start;
    padding-top: 134px;
    h2 {
      position: relative;
      z-index: 10;
      order: 1;
      padding-top: 1px;
    }
  }
  .goods__best-seller {
    margin-right: 27px;
    margin-left: 47px;
    padding-top: 15px;
  }
  .goods__table {
    margin-bottom: 108px;
  }
  .goods__table-item:first-child td {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .goods__table-item td:last-child {
    padding-right: 0;
  }
  .goods__table-item {
    td {
      padding-right: 29px;
      padding-bottom: 10px;
      padding-top: 5px;
    }
  }
  .goods__thumb {
    top: 82px;
    right: 48px;
  }
}
