.goods {
  width: 260px;
  padding: 0 30px;
}

.goods__best-seller {
  color: @base-color--lighten;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__price {
  padding: 30px 0;
  color: @grey;
  text-align: center;
  font-size: 17px;
}


