
// HAMBURGER

.main-nav__hamburger-box {
  content: '';
  position: absolute;
  display: block;
  top: 22px;
  right: 22px;
  width: 40px;
  height: 40px;

  font-size: 0;

  cursor: pointer;
}

.main-nav--closed .main-nav__hamburger-box::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 2px;

  background-color: @black-lighten;
  box-shadow: 0 6px 0 0 @black-lighten,
              0 12px 0 0 @black-lighten;
}

.main-nav--opened .main-nav__hamburger-box {
  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 22px;
    height: 2px;
    top: 16px;
    left: 8px;

    background-color: @black-lighten;
  }
  &::before {
    transform: rotate(45deg);

    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__hamburger-box {
  display: none;
}

@media @tablet-widths {
  .main-nav__hamburger-box {
    display: none;
  }
}

@media @desktop-widths {
  .main-nav__hamburger-box {
    display: none;
  }
}

// MAIN NAVIGATION

.main-nav {
  display: block;
  a {
    display: block;
    height: 100%;

    font-size: 17px;
    font-weight: 700;
    color: inherit;
  }
}

.main-nav__list-items,
.main-nav__user-items {
  margin: 0;

  list-style: none;
  a {
    padding: 25px 30px;
  }
}

.main-nav__user-item {
  &--search {
    background-image: url('../../img/icon-search.svg');
  }
  &--cart {
    background-image: url('../../img/icon-cart.svg');
  }
  background-repeat: no-repeat;
  background-position: 10% center;
}

.main-nav__delivery,
.main-nav__sales {
  display: none;
}

@media @mobile-widths-only {
  .main-nav {
    a {
      padding-left: 77px;
    }
    li {
      border-top: 1px solid @brown-light;
    }
  }
  .main-nav--opened .main-nav__list-items {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    z-index: 10;

    background: #fff;
  }
  .main-nav--opened .main-nav__user-items {
    position: absolute;
    top: 230px;
    right: 0;
    width: 100%;
    z-index: 10;

    background: #fff;
  }
  .main-nav--closed .main-nav__list-items {
    display: none;
  }
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--nojs .main-nav {
    position: static;

    height: auto;
  }
  .main-nav--nojs .main-nav__list-item,
  .main-nav--nojs .main-nav__user-item {
    display: block;
  }
  .main-nav__user-items li:last-child {
  border-bottom: 1px solid @brown-light;
}
}

@media @tablet-widths {
  .main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 2000;
  }
  .main-nav li {
    display: inline-block;
    vertical-align: middle;
  }
  .main-nav__list-items {
    order: 3;
    top: 100px;
    a {
      padding: 0;
      padding-right: 15px;
      padding-left: 0;

      font-size: 15px;
    }
  }
  .main-nav__user-items {
    order: 2;
    li {
      display: inline-block;
      vertical-align: middle;
    }
    & li:first-child a {
      padding: 0;
      text-indent: -9999px;
    }
    & li:last-child a {
      padding-right: 0;
      padding-left: 85px;
    }
  }
  .main-nav__delivery {
    order: 4;
    display: block;
    top: 100px;
    right: 0;
    a {
      padding: 0;
      padding-right: 0;
      padding-left: 0;

      color: @grey;
      font-size: 15px;
      font-weight: 400;
    }
  }
  .main-nav__sales {
    display: none;
  }
}

@media @desktop-widths {
  .main-nav {
    display: flex;
  }
  .main-nav__list-items {
    order: 0;
    a {
      padding-right: 15px;
      font-size: 17px;
    }
    & li:last-child a {
      padding-left: 45px;
    }
  }
  .main-nav__user-items {
    order: 2;
  }
  .main-nav__delivery {
    order: 4;
    a {
      padding-right: 0;
      padding-left: 0;

      color: @grey;
      font-size: 15px;
      font-weight: 400;
    }
  }
  .main-nav__sales {
    display: block;
    order: 3;
    a {
      padding-right: 15px;
      padding-left: 0;

      font-size: 15px;
    }
    & li:last-child a {
      padding-left: 37px;
    }
  }
}
