.page-footer__wrapper {
  .container();
}

.page-footer {
  margin-top: 40px;

  background-color: @grey--lighten;
  .logo-footer {
    width: 105px;
    height: 37px;
  }
  .logo-footer:hover {
    fill: @base-color--lighten;
  }
  .logo-footer:active,
  .logo-footer:focus {
    opacity: .3;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 40px;
  padding-top: 23px;
  padding-bottom: 20px;
  a {
    font-size: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  padding: 22px 24px;

  font-size: 19px;
  font-weight: 700;
  line-height: 29px;
  color: inherit;

  border-top: 1px solid @grey--light;
  .logo-htmlacademy {
    width: 30px;
    height: 35px;
    fill: @base-color--lighten;
  }
  .logo-htmlacademy {
    fill: @right-btn--hover;
  }
  .logo-htmlacademy:active,
  .logo-htmlacademy:focus {
    opacity: .3;
  }
}

.page-footer__logo {
  display: none;
}

@media @tablet-widths {
  .page-footer {
    margin-top: 62px;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
    padding: 45px 0;
    padding-right: 88px;
    .logo-mobile {
      width: 105px;
      height: 37px;
    }
  }
  .page-footer__social {
    padding: 50px 0;
  }
  .page-footer__copyright {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 53px;

    border: none;
    .logo-htmlacademy {
      padding-left: 24px;
    }
  }
}

@media @desktop-widths {
  .page-footer {
    margin-top: 50px;
  }
  .page-footer__social {
    padding: 47px 0;
  }
  .page-footer__copyright {
    padding-top: 57px;
  }
}
