.page-content__title {
  padding: 30px 0;
  margin-bottom: 0;
}

@media @tablet-widths {
  .page-content__title {
    padding-top: 60px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .page-content__title {
    order: 1;
  }
}
