.reviews {
  width: 260px;
  padding: 0 30px;
}

.reviews__description {
  font-size: 17px;
  line-height: 30px;
}

.reviews__author {
  font-weight: 700;
}

.reviews__instagram {
  color: @grey--light;
}
