.reviews {
  .container();
  margin-bottom: 50px;
}

.reviews__description {
  font-size: 17px;
  line-height: 30px;
}

.reviews__author {
  font-weight: 700;
}

.reviews__instagram {
  color: @grey--light;
}

.reviews__item {
  padding-top: 25px;
  padding-bottom: 23px;

  line-height: 30px;
}

@media @tablet-widths {
  .reviews {
    height: 457px;

    background-image: url(../../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: left center;
  }
  .reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reviews__item {
    order: 2;
    flex-grow: 1;
    padding-bottom: 60px;
  }
  .reviews__description {
    order: 3;
    span {
      display: block;
    }
  }
  .reviews__instagram {
    color: @grey;
  }
  .reviews__slider {
    order: 4;
    padding: 0;
  }
  .reviews__btn {
    order: 1;
    align-self: center;
  }
}

@media @desktop-widths {
  .reviews-wrapper {
    padding-left: 175px;
  }
}
