.video-block {
  .container();

  border: 1px solid @grey--light;
  img {
    border-bottom: 1px solid @grey--light;
  }
}

.video-block__title {
  padding: 25px 0;
  padding-left: 90px;
  font-size: 17px;
  line-height: inherit;

  background-image: url('../../img/icon-video.svg');
  background-repeat: no-repeat;
  background-position: 10% center;
}

.video-block p {
  padding-left: 35px;
  font-size: 13px;
}

.video-btn {
  margin: 30px 35px;
}

@media @tablet-widths {
  .video-block {
    display: flex;
    flex-direction: column;
  }
  .video-block__title {
    order: 1;

    font-size: 20px;
    background-position: 5% center;
  }
  .video-block__features {
    order: 2;
  }
}

//temporary
.video-block img {
  background-image: url(../../img/video-desktop.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 668px;
  height: 455px;
}

@media @desktop-widths {
  .video-block {
    position: relative;
    margin-top: 55px;
    flex-direction: row;
  }
  .video-block__features {
    width: 245px;
    padding-top: 180px;
  }
  .video-block__title {
    position: absolute;
    width: 40px;
    top: 0;
    right: 290px;
    padding-left: 0;
    padding-top: 90px;
    background-position: center 30%;
  }
}
